$font-family: "Fira Code", sans-serif;

html {
  font-family: $font-family;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  min-height: 100%;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

#nav {
  flex-basis: 200px;
}

#input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  border-left: 1px solid #dcdcdc;
  resize: none;

  &:focus {
    outline: none;
  }
}

#results {
  background: #dcdcdc;
  flex-basis: 200px;
  box-sizing: border-box;
  padding: 8px;
}

#results,
#input {
  font-family: $font-family;
  line-height: 1.7;
  color: #383838;
  font-size: 1rem;
}

#savedList {
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
  a {
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
  li {
    margin-bottom: 8px;
  }
}

@font-face {
  font-family: "Fira Code";
  src: url("font/FiraCode-Regular.eot");
  src: url("font/FiraCode-Regular.eot") format("embedded-opentype"),
    url("font/FiraCode-Regular.woff2") format("woff2"),
    url("font/FiraCode-Regular.woff") format("woff"),
    url("font/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
