html {
  font-family: sans-serif;
  line-height: 1.4;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  min-height: 100%;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  line-height: 1.8;

  #input {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 8px;

    &:focus {
      outline: none;
    }
  }

  #results {
    background: #dcdcdc;
    flex-basis: 200px;
    box-sizing: border-box;
    padding: 8px;
  }
}

.result,
.input {
  &::after {
    content: "\00a0";
  }
}
